---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

  <h1>ThreeJS Journey</h1>

  <ol>
    <li><a href="./Lessons/L3BasicScene">Basic Scene</a></li>
    <li><a href="./Lessons/L5TranformObjects">Transform Objects</a></li>
    <li><a href="./Lessons/L6Animations">Animations</a></li>
    <li><a href="./Lessons/L7Cameras">Cameras</a></li>
  </ol>

</Layout>

<style>
  h1, ul {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
  }

  ol {
    text-align: center;
    margin: 0;
    padding: 0;
  }
</style>
