---
import Layout from '../layouts/Layout.astro';
import Prueba from '../components/main-script.astro'
import ClassTitle from '../components/classtitle.astro'
---

<Layout title="Welcome to Astro.">

  <h1 id="title">Hola Mundo</h1>

  <ol>
    <li><a href="./Lessons/L3BasicScene">Basic Scene</a></li>
    <li><a href="./Lessons/L5TranformObjects">Transform Objects</a></li>
    <li><a href="./Lessons/L6Animations">Animations</a></li>
  </ol>

</Layout>

<style>
  h1, ul {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
  }

  ol {
    text-align: center;
    margin: 0;
    padding: 0;
  }
</style>
