---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

  <h1>Hola Mundo</h1>

  <ul>
    <li><a href="./Lessons/L3BasicScene">Basic Scene</a></li>
  </ul>

</Layout>

<style>
  h1, ul {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
  }
</style>
