---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VHGH ThreeJS Journey">

  <h1>ThreeJS Journey</h1>

  <div class='grid1'>
    
    <div>
      <h2>1. Basics</h2>
      <ol>
        <li><a href="./Lessons/L3BasicScene">Basic Scene</a></li>
        <li><a href="./Lessons/L5TranformObjects">Transform Objects</a></li>
        <li><a href="./Lessons/L6Animations">Animations</a></li>
        <li><a href="./Lessons/L7Cameras">Cameras</a></li>
        <li><a href="./Lessons/L8FullScreenAndResizing">Full Screen and Resizing</a></li>
        <li><a href="./Lessons/L9Geometries">Geometries</a></li>
        <li><a href="./Lessons/L10DebugUI">Debug UI</a></li>
        <li><a href="./Lessons/L11Textures">Textures</a></li>
        <li><a href="./Lessons/L12Materials">Materials</a></li>
        <li><a href="./Lessons/L133DText">3D Text</a></li>
        <li><a href="./Lessons/L14GoLive">Go live</a></li>
      </ol>

    </div>

    <div>
      
      <h2>2. Classic techniques</h2>
      <ol>
        <li><a href="./Lessons/L15Lights">Lights</a></li>
        <li><a href="./Lessons/L16Shadows">Shadows</a></li>
      </ol>

    </div>
  </div>

</Layout>

<style>
h1, h2 {
    text-align: center;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
  }

h2 {
  background-color: hsl(190, 60%, 80%);
}

  ol {
    display: grid;
    justify-content: center;
    gap: 5px;
  }
.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  justify-content: center;
  /* margin: 5px; */
}

</style>
