---
export interface Props {
  title: string;
}
const {title} = Astro.props;
---

<h1>{title}</h1>

<canvas class="webgl"></canvas>

<style>

  h1 {
    color: white;
    text-align: center;
    margin: 15px 0;
    padding: 10px;
  }

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
  }

</style>
